:root {
    --primary-color: #130A0B;
    --secondary-color: #590804;
    --third-color: #900B02;
    --fourth-color: #CB1D05;
    --fifth-color: #DE4F00;
    --sixth-color: #FD7C07;
    --seveth-color: #FEAD1D;
    --eigth-color: #FDC651;
    --ninth-color: #FFE694;
    --tenth-color: #ffffff;
}